body{
    background-image: url('https://thumbs.dreamstime.com/z/nairobi-kenya-march-teleposta-towers-nairobi-city-kenya-teleposta-towers-nairobi-city-kenya-134435131.jpg');
    background-size: cover;
    backface-visibility: hidden;
}