{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'issue.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>issue page</title>

</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}

<section class="get-in-touch">
   <h1 class="title">Record issues tackled</h1>
   <form class="contact-form row" method="post">
    {% csrf_token %}
      <div class="form-field col-lg-6">
         <input id="date" class="input-text js-input" type="date" name="date" required>
         <label class="label" for="date">Issue Date</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="floor" class="input-text js-input" type="text" name="floor" required>
         <label class="label" for="floor">Floor</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="issue" class="input-text js-input" type="text" name="issue" required>
         <label class="label" for="issue">Issue</label>
      </div>
       <div class="form-field col-lg-6 ">
        <label for="issue">Resolved/Not Resolved</label>
         <select value="issue"  name="problems" id="issue">
            <option value="Resolved">Resolved</option>
            <option value="Not Resolved">Not Resolved</option>
         </select>
      </div>
      <div class="form-field col-lg-12">
         <input id="Supervisor_attachee" class="input-text js-input" type="text" name="name" required>
         <label class="label" for="Supervisor_attachee">Person who worked on it</label>
      </div>
      <div class="form-field col-lg-12">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>

</body>
</html>