{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'style_loging.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg " style="background-color: darkred;">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home'%}" style="color: #fff;"><b>Home</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'form'%}" style="color: #fff;"><b>Attachee form</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin'%}" style="color: #fff;"><b>Admin panel</b></a>
                </li>
    
    
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
    <div class="loginbox">
        <img src="{% static 'admin.png'%}" class="avatar" width="100px" height="100px">
        <h1>LOGIN HERE</h1>
        <form  method="post">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="name" placeholder="Enter username">
            <p>password</p>
            <input type="password" name="password" id="" placeholder="Enter password">
            <input  class ="submit" type="submit" value="Login">
            <a href="">Lost your password?</a><br>
            <p class="signup">Dont have an account?<a href="{% url 'register'%}">Sign up</a></p>
        </form>
    </div>
</body>
</html>